<fieldset>
   <legend>Basic usage</legend>
    <ul>
        <li>
            <a asp-action="InMemoryReport" asp-controller="Home">Create an in-memory report</a>
        </li>
        <li>
            <a asp-action="FileReport" asp-controller="Home">Create a file report</a>
        </li>
        <li>
            <a asp-action="DataTableReport" asp-controller="Home">Create a DataTable report</a>
        </li>
        <li>
            <a asp-action="ReadFile" asp-controller="Home">Read report.xlsx file</a>
        </li>
    </ul>
</fieldset>

<fieldset style="margin-top: 15px">
   <legend>Upload an xlsx file</legend>
   <form method="post"
         asp-action="FileUpload"
         asp-controller="Home"
         enctype="multipart/form-data">
      <input type="file" name="file"  />
      <input type="submit" value="Upload" />
   </form>
</fieldset>

<fieldset style="margin-top: 15px">
   <legend>Handling Blob Responses</legend>
   <button type="button" onclick="downloadBlob()">Ajax Download</button>
</fieldset>

@section Scripts
{
    <script type="text/javascript">
    function downloadBlob()
    {
       fetch('/Home/InMemoryReport')
	     .then(function(response) {
	         return response.blob();
	     })
	     .then(function(xlsxBlob) {
             var a = document.createElement("a");
             document.body.appendChild(a);
             a.style = "display: none";
             let url = window.URL.createObjectURL(xlsxBlob);
             a.href = url;
             a.download = "report.xlsx";
             a.click();
             window.URL.revokeObjectURL(url);
	     });
    }
    </script>
}